# Configurações do Flask
FLASK_APP=app.py
FLASK_ENV=development
FLASK_DEBUG=True

# Supabase
SUPABASE_URL=sua_url_do_supabase
SUPABASE_KEY=sua_chave_do_supabase

# OpenAI
OPENAI_API_KEY=sua_chave_da_openai

# Configurações de E-mail
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=seu_email@gmail.com
SMTP_PASSWORD=sua_senha_de_app
EMAIL_FROM=seu_email@gmail.com
EMAIL_TO=alvo@gmail.com

